body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("https://github.com/scrimba/learn-javascript/blob/main/3.%20Build%20a%20Blackjack%20game/44.%20Our%20new%20card%20feature%20is%20broken/images/table.png?raw=true");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

/* 3. Make sure that the two buttons have some space between
each other when they are rendered out vertically */
button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-right: 10px;
    margin-left: 10px;
}

button.single-btn { /*inherit the button css features, but can make add-ons to it*/
    /*not necessary, but for practice*/
    margin-right: 0;
    margin-left: 0
}

.input-el {
    max-width: 6vh
}

#err-el {
    color: #F52222
}

.card-el {
    height: 25vh;
    margin: 1vh 2vh 1vh 2vh;
}